<a href="https://colab.research.google.com/github/chaitanyasinghnegi/SQCC-Recruitment-Task/blob/main/StockMarket.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Necessary Libraries

- Pandas
- Numpy
- SKLearn

In [25]:
import pandas as pd
import numpy as np
from sklearn import *

Read csv

In [26]:
data = pd.read_csv('./nifty_500.csv')
data.head()

,Company Name,Symbol,Industry,Series,Open,High,Low,Previous Close,Last Traded Price,Change,Percentage Change,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low,365 Day Percentage Change,30 Day Percentage Change
0,3M India Ltd.,3MINDIA,Diversified,EQ,21950.00,21999.00,21126.05,21854.05,21575.00,-279.05,-1.28,4159,8.965357e+07,27800.00,17273.00,-10.18,8.22
1,Aarti Drugs Ltd.,AARTIDRUGS,Healthcare,EQ,400.50,401.80,394.10,403.85,400.00,-3.85,-0.95,31782,1.262731e+07,749.75,378.00,-42.92,-5.10
2,Aavas Financiers Ltd.,AAVAS,Financial Services,EQ,1997.10,2004.05,1894.50,2015.45,1943.15,-72.30,-3.59,150704,2.907728e+08,3340.00,1815.00,-25.69,-9.39
3,ABB India Ltd.,ABB,Capital Goods,EQ,2260.35,2311.50,2260.35,2300.90,2280.00,-20.90,-0.91,97053,2.210935e+08,2487.85,1618.05,27.25,-5.21
4,Abbott India Ltd.,ABBOTINDIA,Healthcare,EQ,18700.40,19200.00,18605.00,18760.40,19199.80,439.40,2.34,12396,2.346770e+08,23934.45,15514.00,11.61,5.84

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Name               501 non-null    object
 1   Symbol                     501 non-null    object
 2   Industry                   501 non-null    object
 3   Series                     501 non-null    object
 4   Open                       501 non-null    float64
 5   High                       501 non-null    float64
 6   Low                        501 non-null    float64
 7   Previous Close             501 non-null    float64
 8   Last Traded Price          501 non-null    float64
 9   Change                     501 non-null    object
 10  Percentage Change          501 non-null    object
 11  Share Volume               501 non-null    int64
 12  Value (Indian Rupee)       501 non-null    float64
 13  52 Week High               501 non-null    float64
 14  52 Week Low                501 non-null    float64
 15  365 Day Percentage Change  501 non-null    object
 16  30 Day Percentage Change   501 non-null    object
dtypes: float64(8), int64(1), object(8)
memory usage: 66.7+ KB

# Data Preprocessing

Multiple objects classes detected, type-casting to float.
Replacing all '-' values with NaN for easier data population.

In [28]:
data.replace('-',np.NaN,inplace=True)

In [29]:
data['Change'] = data['Change'].map(lambda x: float(str(x).replace(',', '')) if isinstance(x, str) else float(x))

In [30]:
data['Percentage Change'] = data['Percentage Change'].map(lambda x: float(str(x).replace(',', '')) if isinstance(x, str) else float(x))

In [31]:
data['365 Day Percentage Change'] = data['365 Day Percentage Change'].map(lambda x: float(str(x).replace(',', '')) if isinstance(x, str) else float(x))

In [32]:
data['30 Day Percentage Change'] = data['30 Day Percentage Change'].map(lambda x: float(str(x).replace(',', '')) if isinstance(x, str) else float(x))

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Name               501 non-null    object
 1   Symbol                     501 non-null    object
 2   Industry                   501 non-null    object
 3   Series                     501 non-null    object
 4   Open                       501 non-null    float64
 5   High                       501 non-null    float64
 6   Low                        501 non-null    float64
 7   Previous Close             501 non-null    float64
 8   Last Traded Price          501 non-null    float64
 9   Change                     498 non-null    float64
 10  Percentage Change          498 non-null    float64
 11  Share Volume               501 non-null    int64
 12  Value (Indian Rupee)       501 non-null    float64
 13  52 Week High               501 non-null    float64
 14  52 Week Low                501 non-null    float64
 15  365 Day Percentage Change  457 non-null    float64
 16  30 Day Percentage Change   498 non-null    float64
dtypes: float64(12), int64(1), object(4)
memory usage: 66.7+ KB

In [34]:
data.isnull().sum()

Company Name                  0
Symbol                        0
Industry                      0
Series                        0
Open                          0
High                          0
Low                           0
Previous Close                0
Last Traded Price             0
Change                        3
Percentage Change             3
Share Volume                  0
Value (Indian Rupee)          0
52 Week High                  0
52 Week Low                   0
365 Day Percentage Change    44
30 Day Percentage Change      3
dtype: int64

Populating NaN values with mean of column

In [35]:
cols = ["Change","Percentage Change","365 Day Percentage Change","30 Day Percentage Change"]
for col in cols:
  data[col].fillna(data[col].mean(),inplace=True)

In [36]:
data.isnull().sum()

Company Name                 0
Symbol                       0
Industry                     0
Series                       0
Open                         0
High                         0
Low                          0
Previous Close               0
Last Traded Price            0
Change                       0
Percentage Change            0
Share Volume                 0
Value (Indian Rupee)         0
52 Week High                 0
52 Week Low                  0
365 Day Percentage Change    0
30 Day Percentage Change     0
dtype: int64

Encoding categorical values - Company Name, Symbol, Industry, Series

In [37]:

le = LabelEncoder()
data['Company Name'] = le.fit_transform(data['Company Name'])
data['Symbol'] = le.fit_transform(data['Symbol'])
data['Industry'] = le.fit_transform(data['Industry'])
data['Series'] = le.fit_transform(data['Series'])
data.head()

,Company Name,Symbol,Industry,Series,Open,High,Low,Previous Close,Last Traded Price,Change,Percentage Change,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low,365 Day Percentage Change,30 Day Percentage Change
0,0,0,7,1,21950.00,21999.00,21126.05,21854.05,21575.00,-279.05,-1.28,4159,8.965357e+07,27800.00,17273.00,-10.18,8.22
1,6,1,11,1,400.50,401.80,394.10,403.85,400.00,-3.85,-0.95,31782,1.262731e+07,749.75,378.00,-42.92,-5.10
2,7,2,9,1,1997.10,2004.05,1894.50,2015.45,1943.15,-72.30,-3.59,150704,2.907728e+08,3340.00,1815.00,-25.69,-9.39
3,1,3,1,1,2260.35,2311.50,2260.35,2300.90,2280.00,-20.90,-0.91,97053,2.210935e+08,2487.85,1618.05,27.25,-5.21
4,8,4,11,1,18700.40,19200.00,18605.00,18760.40,19199.80,439.40,2.34,12396,2.346770e+08,23934.45,15514.00,11.61,5.84

# Regression

In [38]:
X = data[["Open","High","Low","Previous Close","Change","Percentage Change","Share Volume","Value (Indian Rupee)","52 Week High","52 Week Low","365 Day Percentage Change","30 Day Percentage Change"]]
y = data["Last Traded Price"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)
model = LinearRegression()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mae = mean_absolute_error(y_test, y_pred)
l_reg_rmse = rmse
l_reg_mae = mae
print(f"RMSE: {rmse}\nMAE: {mae}")

RMSE: 0.09268451536950453
MAE: 0.07925521026878043

Convert Percentage Change to binary target Percentage Change Binary

In [39]:
data['Percentage Change Binary'] = (data['Percentage Change'] > 0).astype(int)
features = data[['Open', 'High', 'Low', 'Previous Close', 'Change', 'Share Volume', 'Value (Indian Rupee)', '52 Week High', '52 Week Low', '365 Day Percentage Change', '30 Day Percentage Change']]
target = data['Percentage Change Binary']

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.15, random_state=42)

# SVM
SVM model to classify the target

In [40]:
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

svm_model = SVC(kernel='linear', class_weight='balanced', random_state=42)
svm_model.fit(X_train_scaled, y_train)

y_pred_svm = svm_model.predict(X_test_scaled)
accuracy_svm = accuracy_score(y_test, y_pred_svm)
precision_svm = precision_score(y_test, y_pred_svm)
recall_svm = recall_score(y_test, y_pred_svm)
f1_svm = f1_score(y_test, y_pred_svm)

print(f"SVM Accuracy: {accuracy_svm}")
print(f"SVM Precision: {precision_svm}")
print(f"SVM Recall: {recall_svm}")
print(f"SVM F1 Score: {f1_svm}")

SVM Accuracy: 0.9473684210526315
SVM Precision: 0.9318181818181818
SVM Recall: 0.9761904761904762
SVM F1 Score: 0.9534883720930233

# LSVM
LSVM model to classify the target

In [41]:
lsvm_model = LinearSVC(dual=False,max_iter=10000, class_weight='balanced', random_state=42)
lsvm_model.fit(X_train_scaled, y_train)

y_pred_lsvm = lsvm_model.predict(X_test_scaled)
accuracy_lsvm = accuracy_score(y_test, y_pred_lsvm)
precision_lsvm = precision_score(y_test, y_pred_lsvm)
recall_lsvm = recall_score(y_test, y_pred_lsvm)
f1_lsvm = f1_score(y_test, y_pred_lsvm)

print(f"LSVM Accuracy: {accuracy_lsvm}")
print(f"LSVM Precision: {precision_lsvm}")
print(f"LSVM Recall: {recall_lsvm}")
print(f"LSVM F1 Score: {f1_lsvm}")

lsvm_acc = accuracy_lsvm
lsvm_pre = precision_lsvm
lsvm_rec = recall_lsvm
lsvm_f1 = f1_lsvm

LSVM Accuracy: 0.9605263157894737
LSVM Precision: 0.9534883720930233
LSVM Recall: 0.9761904761904762
LSVM F1 Score: 0.9647058823529412

# Random Forest
Random Forest Regressor model for predicting the Last Traded Price

In [42]:
X = data.drop(columns=['Last Traded Price'])
y = data['Last Traded Price']

categorical_features = ['Company Name', 'Symbol', 'Industry', 'Series']
numerical_features = [col for col in X.columns if col not in categorical_features]

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features),
        ('num', StandardScaler(), numerical_features)])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', RandomForestRegressor(n_estimators=100, random_state=42))
])

pipeline.fit(X_train, y_train)

y_pred = pipeline.predict(X_test)

rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mae = mean_absolute_error(y_test, y_pred)

print(f"Random Forest Regression RMSE: {rmse}")
print(f"Random Forest Regression MAE: {mae}")

rf_reg_rmse = rmse
rf_reg_mae = mae

Random Forest Regression RMSE: 330.6154274084868
Random Forest Regression MAE: 70.29704455445544

# Random Forest
Random Forest Classifier to predict the Percentage Change

In [43]:

X = data.drop(columns=['Percentage Change'])
y = (data['Percentage Change'] > 0).astype(int)

categorical_features = ['Company Name', 'Symbol', 'Industry', 'Series']
numerical_features = [col for col in X.columns if col not in categorical_features]

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features),
        ('num', StandardScaler(), numerical_features)])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', RandomForestClassifier(n_estimators=100, random_state=42))
])

pipeline.fit(X_train, y_train)

y_pred = pipeline.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print(f"Random Forest Classification Accuracy: {accuracy}")
print(f"Random Forest Classification Precision: {precision}")
print(f"Random Forest Classification Recall: {recall}")
print(f"Random Forest Classification F1 Score: {f1}")

rf_class_acc = accuracy
rf_class_pre = precision
rf_class_rec = recall
rf_class_f1 = f1

Random Forest Classification Accuracy: 0.9900990099009901
Random Forest Classification Precision: 0.9807692307692307
Random Forest Classification Recall: 1.0
Random Forest Classification F1 Score: 0.9902912621359222

# Comparison
Compare Random Forest Regressor with Linear Regression Model.

Compare Random Forest Classifier with SVM Model

In [44]:
print("Regression Model Comparison:")
if rf_reg_rmse < l_reg_rmse:
    print(f"Random Forest Regressor performed better with lower RMSE: {rf_reg_rmse:.4f} compared to Linear Regression RMSE: {l_reg_rmse:.4f}")
else:
    print(f"Linear Regression performed better with lower RMSE: {l_reg_rmse:.4f} compared to Random Forest Regressor RMSE: {rf_reg_rmse:.4f}")

if rf_reg_mae < l_reg_mae:
    print(f"Random Forest Regressor performed better with lower MAE: {rf_reg_mae:.4f} compared to Linear Regression MAE: {l_reg_mae:.4f}")
else:
    print(f"Linear Regression performed better with lower MAE: {l_reg_mae:.4f} compared to Random Forest Regressor MAE: {rf_reg_mae:.4f}")

print("\nClassification Model Comparison:")
if rf_class_acc > lsvm_acc:
    print(f"Random Forest Classifier performed better with higher Accuracy: {rf_class_acc:.4f} compared to SVM Accuracy: {lsvm_acc:.4f}")
else:
    print(f"SVM performed better with higher Accuracy: {lsvm_acc:.4f} compared to Random Forest Classifier Accuracy: {rf_class_acc:.4f}")

if rf_class_pre > lsvm_pre:
    print(f"Random Forest Classifier performed better with higher Precision: {rf_class_pre:.4f} compared to SVM Precision: {lsvm_pre:.4f}")
else:
    print(f"SVM performed better with higher Precision: {lsvm_pre:.4f} compared to Random Forest Classifier Precision: {rf_class_pre:.4f}")

if rf_class_rec > lsvm_rec:
    print(f"Random Forest Classifier performed better with higher Recall: {rf_class_rec:.4f} compared to SVM Recall: {lsvm_rec:.4f}")
else:
    print(f"SVM performed better with higher Recall: {lsvm_rec:.4f} compared to Random Forest Classifier Recall: {rf_class_rec:.4f}")

if rf_class_f1 > lsvm_f1:
    print(f"Random Forest Classifier performed better with higher F1 Score: {rf_class_f1:.4f} compared to SVM F1 Score: {lsvm_f1:.4f}")
else:
    print(f"SVM performed better with higher F1 Score: {lsvm_f1:.4f} compared to Random Forest Classifier F1 Score: {rf_class_f1:.4f}")

Regression Model Comparison:
Linear Regression performed better with lower RMSE: 0.0927 compared to Random Forest Regressor RMSE: 330.6154
Linear Regression performed better with lower MAE: 0.0793 compared to Random Forest Regressor MAE: 70.2970

Classification Model Comparison:
Random Forest Classifier performed better with higher Accuracy: 0.9901 compared to SVM Accuracy: 0.9605
Random Forest Classifier performed better with higher Precision: 0.9808 compared to SVM Precision: 0.9535
Random Forest Classifier performed better with higher Recall: 1.0000 compared to SVM Recall: 0.9762
Random Forest Classifier performed better with higher F1 Score: 0.9903 compared to SVM F1 Score: 0.9647